#multibanner .multibanner-contenedor .banner a{
    position: relative;
    overflow: hidden;
}
#multibanner .multibanner-contenedor .banner a img{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
#multibanner .multibanner-contenedor .banner a:hover img{
    transform: scale(105%);
}