/*page color*/

.single.single-product.woocommerce #page {
    background-color: #fff;
}


/*ficha producto*/


/*
.single.single-product.woocommerce .product{
    display: flex;
}*/

.single.single-product.woocommerce .product .woocommerce-product-gallery .woocommerce-product-gallery__image {
    overflow: hidden;
    width: 500px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
}

.single.single-product.woocommerce .product .woocommerce-product-gallery .woocommerce-product-gallery__image a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.single.single-product.woocommerce .product .woocommerce-product-gallery .woocommerce-product-gallery__image a img {
    max-height: 100%;
    width: auto;
}

.caracteristicas-destacadas {
    font-size: .89rem;
    margin: 0;
    padding: 0px;
}

.caracteristicas-destacadas li {
    position: relative;
    padding-left: 17px;
}

.caracteristicas-destacadas li strong {
    font-weight: var(--peso-pesado);
}

.caracteristicas-destacadas li::before {
    position: absolute;
    content: '◇';
    left: 3px;
    color: #333;
    font-size: 1rem;
    top: -2px;
}

.tipo--entrega--in {
    border: unset;
    background-color: unset;
    text-align: left;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    max-width: 135px;
}

.tipo--entrega--in i {}


/*ficha producto, precio, titulo, estrellas, boton*/

.single.single-product.woocommerce .product .product_title {
    font-size: 28px;
    font-weight: bold;
    -webkit-letter-spacing: -0.07px;
    -moz-letter-spacing: -0.07px;
    -ms-letter-spacing: -0.07px;
    letter-spacing: -0.07px;
    line-height: 34px;
    margin-right: 15px;
}


/*rating*/

.woocommerce .star-rating span {
    font-family: inherit !important;
}

.woocommerce .star-rating span::before {
    color: #ffc000;
}

.summary.entry-summary.container {
    display: flex;
    flex-direction: column;
}

.woocommerce-review-link {
    color: #6B8E23 !important;
    font-weight: bold !important;
    font-size: 14px !important;
    letter-spacing: 0.2px !important;
}

.single-product.single .summary.entry-summary {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0px 0px 0px 5px;
    max-width: 100%;
    max-width: 50%;
    border-left: none;
}


/*rating*/


/*sku*/

.sku_wrapper {
    display: none;
}


/*sku*/

.single-product.single #main {
    background-color: #fff;
}

.stock.in-stock {
    display: inline-block;
    font-size: .9rem !important;
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px 20px;
    border-radius: 3px;
}

.stock.out-of-stock {
    display: inline-block;
    font-size: .9rem !important;
    color: #fff !important;
    background-color: var(--color-agotado);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px 20px;
    border-radius: 3px;
}


/*precio producto*/

.single-product.single .price {
    margin-right: 7px;
    line-height: 20px !important;
    font-weight: 400 !important;
    font-size: 1.4rem !important;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 15px;
}


/*precio producto*/

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
    background: inherit;
    font-weight: 400;
    display: inline-block;
    font-family: var(--titan-title-typo) !important;
}

.single-product.single p.price del,
.single-product.single span.price del {
    opacity: .5;
    display: flex;
    color: #767676;
    font-size: 1rem;
}


/*información adiconal del producto*/

.comercio--descripcion {
    border-top: 3px solid #efefef;
    padding-top: 22px;
}


/*información adiconal del producto*/


/*boton-comprar*/

.woocommerce.single-product.single div.product form.cart .single_add_to_cart_button {
    font-weight: 700;
    color: #fff;
    height: 45px;
    font-size: 1rem;
    max-width: 300px;
    order: 4;
}

.woocommerce.single-product.single div.product form.cart,
.woocommerce.single-product.single .woocommerce-variation-add-to-cart {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cuotas-modulo.ultima-linea {
    width: 100%;
}

.woocommerce div.product form.cart div.quantity {
    float: left;
    margin: 0 0px 0 0;
    order: 2;
    display: flex;
    justify-content: center;
    height: 45px;
}

.plus,
.minus {
    width: 30px;
    background: transparent;
    border: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    float: left;
    clear: none;
    padding: 0px;
    height: 45px;
    max-width: 60px;
    border-bottom: 1px solid #b7b7b7;
}

.plus {
    order: 3;
    margin-right: 20px;
}

.minus {
    order: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #b7b7b7;
    padding: 0px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
    border: none;
    outline: unset;
}


/*boton-comprar*/


/*boton más o menos en cantidad*/

.single-product div.product form.cart .quantity {
    float: none;
    margin: 0;
    display: inline-block;
}


/*boton más o menos en cantidad*/


/*boton wsapp */

.whatsapp {
    position: fixed;
    z-index: 9;
    bottom: 5%;
    right: 5%;
}

.boton-wsapp {
    display: flex;
    height: 50px;
    width: 250px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 70px;
    color: #000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-box-shadow: 0 0 5px 0 #C2C2C2;
    box-shadow: 0 0 5px 0 #C2C2C2;
}

.boton-wsapp:hover {
    display: flex;
    height: 80px;
    width: 250px;
    position: fixed;
    z-index: 9;
    bottom: 5%;
    right: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #54c95f;
    border-radius: 70px;
    color: #fff;
}

.foto-wsapp {
    background-image: url('https://crazyoutlets.cl/wp-content/uploads/2020/09/ejecutiva-co.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 100px;
    width: 100px;
    right: -30px;
    position: relative;
    -webkit-box-shadow: 0 0 2px 0 #C2C2C2;
    box-shadow: 0 0 2px 0 #C2C2C2;
    border-radius: 100px;
}

.texto-wsapp {
    display: flex;
    height: 80px;
    width: 100px;
    line-height: 100%;
    justify-content: center;
    align-items: center;
}

.texto-wsapp p {
    margin: 0px;
}

.texto-wsapp span {
    font-weight: 900;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
}

.boton-wsapp i {
    font-size: 30px;
    margin-right: 5px;
    color: #54c95f;
    margin-left: 20px;
}

.boton-wsapp:hover i {
    font-size: 30px;
    margin-right: 5px;
    color: #fff;
    margin-left: 20px;
}


/*boton wsapp*/


/*onsale*/

.single-product.single.woocommerce span.onsale {
    position: absolute;
    z-index: 1;
    padding: .3rem;
    font-size: .9rem;
    top: 0px;
    color: #fff;
    font-weight: 900;
    border-radius: 0px;
    min-height: 10px;
    max-height: 20px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
}


/*product meta*/

.product_meta {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.tagged_as {
    margin-top: 5px;
}

.tagged_as a,
.posted_in a {
    display: inline-block;
    padding: 3px 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #fff;
}

.woocommerce.single-product.single div.product form.cart .single_add_to_cart_button:hover,
.tagged_as a:hover,
.posted_in a:hover {
    background-color: #709f00;
}


/* clases nuevas */

.single-product .woocommerce-product-gallery {
    width: 100% !important;
}

.woocommerce-extra-section {
    background-color: #efefef;
}

.woocommerce .woocommerce-extra-section ul.products {
    margin-bottom: 0;
}

.upsells {
    margin-top: 20px;
}


/* clases para el tipo de envio nuevo */

.tipo-entrega-nueva .primera-parte,
.tipo-entrega-nueva .segunda-parte {
    border-top: 1px solid #b7b7b7;
    padding-top: 20px;
    margin-top: 30px;
    font-size: 15px;
}

.tipo-entrega-nueva h5 {
    font-size: 17px;
}

.tipo-entrega-nueva h6,
.tipo-entrega-nueva i {
    display: inline;
}

.tipo-entrega-nueva ul {
    margin-left: 0;
    padding-left: 0;
}

body.single-product em {
    font-style: italic;
}

body.single-product strong {
    font-weight: bold;
}