/*tipo*/


/*estilo banner */

.carousel {
    position: relative;
    padding: 0px;
    height: auto;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: flex;
}

.carousel-item {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    height: auto;
}

.carousel-caption {
    position: relative;
    right: 0;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 360px;
    width: 70%;
}

.carousel-caption h1 {
    font-size: 2rem;
    width: 100%;
    text-align: left;
    color: #fff;
    padding-top: 3rem;
}

.carousel-caption p {
    font-size: 1rem;
    text-align: left;
    width: 100%;
}

.botones a {
    color: #fff;
    width: 15rem;
    border-radius: 10px;
}
.carousel-item a{
    width: 100%;
    height: 26vw;
}
.carousel-item img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    object-position: center;
    position: absolute;
}


/*estilo banner */


/*carrusel oferta*/

#carrusel_ofertas.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    border: 0px solid #efefef;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px #efefef;
    box-shadow: 0 0 3px 1px #efefef;
}

#carrusel_ofertas .carrusel-interior {
    outline: solid 1px #d7d7d7;
    height: 180px;
    width: 33.3%;
    background-repeat: no-repeat;
    padding: 0px;
    background-position: center center;
    background-size: auto 100%;
    border: 0px solid transparent;
}

#carrusel_ofertas .carousel-inner {
    height: 165px;
    margin-top: 15px;
    width: 100%;
}

#carrusel_ofertas .carousel-item {
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#carrusel_ofertas .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    padding-right: 5px;
}

#carrusel_ofertas .carousel-control-prev-icon {
    width: 30px;
    height: 90px;
    border-top: 0px solid #000;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    position: absolute;
}

#carrusel_ofertas .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    padding-left: 5px;
}

#carrusel_ofertas .carousel-control-next-icon {
    width: 30px;
    height: 90px;
    border-top: 1px solid #000;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    position: absolute;
}

#carrusel_ofertas .carousel-control-next-icon:after {
    content: '';
    width: 15px;
    height: 15px;
    border-top: 5px solid #000;
    border-right: 5px solid #000;
    display: block;
    transform: rotate(45deg);
    border-radius: 1px;
}

#carrusel_ofertas .carousel-control-prev-icon:after {
    content: '';
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    display: block;
    transform: rotate(45deg);
    border-radius: 1px;
}


/*carrusel oferta*/